.layout-row {
  display: flex;
  flex-direction: row;
}

.align-items-centre {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.mt-50 {
  margin-top: 50px;
}

.mt-10 {
  margin-top: 10px;
}

.layout-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finalText {
  color: green;
  font-weight: bold;
}
